@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1391px;
  max-width: 1421px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 30px;
}

.header-menu__link {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #006450;
}

.header-menu__link--active {
  font-size: 16px;
  line-height: 48px;
}

.banner-slider__item {
  background: url(../img/slider/1.png) center center no-repeat;
  background-size: cover;
  padding: 156px 0 614px;
}

.banner-slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-slider__title, .banner-slider__name {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.4px;
  color: #fffaef;
}

.banner-slider__shop {
  background: #e1ff32;
  border-radius: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 64px;
  letter-spacing: 0.4px;
  color: #000;
  padding: 0 58px;
}

.banner-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 23px;
  bottom: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 6px;
}

.banner-slider .slick-dots li button {
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 12px;
  height: 12px;
  background: transparent;
  opacity: 1;
  border: 1px solid #fffaef;
}

.banner-slider .slick-dots li.slick-active button {
  width: 12px;
  height: 12px;
  background: #fffaef;
  border: 1px solid #fffaef;
}

.designed {
  padding: 109px 0 38px;
}

.designed__wrapper {
  position: relative;
}

.designed__wrapper::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: -84px;
  height: 2px;
  background: #006450;
}

.designed__title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #006450;
  max-width: 583px;
  width: 100%;
  margin: 0 auto 107px;
}

.designed__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px 0;
}

.designed__item {
  max-width: 682px;
  width: 100%;
  min-height: 682px;
  height: 100%;
  position: relative;
  padding-top: 13px;
}

.designed__link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1ff32;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #3e3935;
}

.designed__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: lowercase;
  color: #fffaef;
  margin: 0 auto 12px;
}

.designed__price {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
  color: #fffaef;
}

.designed__text {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: lowercase;
  color: #fffaef;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #006450;
  padding: 27px 0;
}

.products__text {
  max-width: 642px;
  width: 100%;
  margin: auto;
  font-size: 56px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #006450;
}

.products__description {
  max-width: 647px;
  width: 100%;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
  color: #006450;
}

.products__description + .products__description {
  margin-top: 56px;
}

.products__link {
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
  color: #006450;
}

.products__item:nth-child(1) .products__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.products__item:nth-child(2) .products__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.products__item:nth-child(2) .products__link {
  margin-top: auto;
}

.products__item:nth-child(3) .products__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.products__item:nth-child(3) .products__link {
  margin-top: auto;
}

.designed-slider__item {
  padding: 92px 0 26px;
}

.designed-slider__heading {
  color: #00c08b;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
  margin: 0 auto 24px;
  text-align: center;
}

.designed-slider__text {
  margin: 0 auto 118px;
  max-width: 777px;
  width: 100%;
  color: #006450;
  text-align: center;
  font-size: 56px;
  line-height: 62px;
  letter-spacing: 0.4px;
}

.designed-slider__link {
  color: #006450;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
}

.designed-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 50%;
  bottom: 25px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 8px;
}

.designed-slider .slick-dots li button {
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 10px;
  height: 10px;
  border: 1px solid #006450;
  background: transparent;
  opacity: 1;
}

.designed-slider .slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  border: 1px solid #006450;
  background: #006450;
}

.shop {
  padding: 25px 0 38px;
}

.shop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px 0px;
}

.shampoo__item {
  padding: 109px 0;
  border-top: 2px solid #006450;
  border-bottom: 2px solid #006450;
}

.shampoo__text {
  max-width: 830px;
  width: 100%;
  color: #006450;
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: 0.4px;
  margin: 0 auto;
}

.planet__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0 49px;
  gap: 0 25px;
}

.planet__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.planet__text {
  color: #006450;
  font-size: 35px;
  line-height: 44px;
  letter-spacing: 0.4px;
}

.planet__text span {
  display: block;
}

.planet__text + .planet__text {
  margin-top: 86px;
}

.planet__link {
  color: #006450;
  font-size: 24px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: lowercase;
  margin-top: auto;
}

.shape {
  background: url(../img/shape-bg.png) center center no-repeat;
  background-size: cover;
  padding: 232px 0 219px;
}

.shape__text {
  max-width: 1127px;
  width: 100%;
  font-weight: 700;
  font-size: 56px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #006450;
  margin: 0 auto 56px;
}

.shape__shop {
  border: 2px solid #006450;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #006450;
  padding: 0 60px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.footer {
  padding-top: 23px;
}

.footer-top {
  padding: 18px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 2px solid #006450;
}

.footer-top__item {
  max-width: 347px;
  width: 100%;
}

.footer-top__title {
  font-style: italic;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #006450;
  margin-bottom: 18px;
}

.footer-top__link {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #006450;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 22px;
}

.footer-bottom__copy {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #006450;
  margin-right: auto;
}

.footer-bottom__email {
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #006450;
  margin-left: auto;
}

.footer-bottom__btn {
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #006450;
  margin-left: 90px;
  border: none;
  cursor: pointer;
  background: transparent;
}
/*# sourceMappingURL=style.css.map */